Repository wp-graphql/wp-graphql, pull requests merged in 2018-12, with the labels that each got.

#597 Release/v0.1.3
  README.md
  img/logo.png
  src/Data/PostObjectConnectionResolver.php
  src/Data/TermObjectConnectionResolver.php
  src/Mutation/ResetUserPassword.php
  src/Mutation/SendPasswordResetEmail.php
  src/Type/Object/Settings.php
  src/Type/WPInputObjectType.php
  src/TypeRegistry.php
  tests/wpunit/SettingsMutationsTest.php
  tests/wpunit/UserObjectMutationsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_framework_classmap.php
  vendor/composer/autoload_static.php
  wp-graphql.php
Labels: Release

#615 model-layer-tests
  tests/wpunit/ModelUserTest.php
Labels: Tests

#625 fixes #576 test for global post object being set correctly
  tests/wpunit/PostObjectConnectionQueriesTest.php
Labels: Tests, develop

#628 #619 - Throw Better Exceptions in TypeRegistry
  src/Router.php
  src/Type/Enum/PostTypeEnum.php
  src/Type/Enum/TaxonomyEnum.php
  src/Type/Object/PostObject.php
  src/TypeRegistry.php
  tests/wpunit/TypesTest.php
Labels: Enhancement, Tests, develop

#629 Release/v0.1.4
  .travis.yml
  README.md
  apigen.yml
  composer.json
  composer.lock
  src/Connection/PostObjects.php
  src/Data/Config.php
  src/Data/PostObjectConnectionResolver.php
  src/Mutation/PostObjectCreate.php
  src/Router.php
  src/Type/Enum/PostTypeEnum.php
  src/Type/Enum/TaxonomyEnum.php
  src/Type/Object/PostObject.php
  src/TypeRegistry.php
  tests/wpunit/PostObjectConnectionQueriesTest.php
  tests/wpunit/TypesTest.php
  vendor/composer/LICENSE
  wp-graphql.php
Labels: Release, Review Ready
