Repository wp-graphql/wp-graphql, pull requests merged in 2018-11, with the labels that each got.

#574 #573 - adding the "children" connection to TermObjects
  src/Connection/TermObjects.php
Labels: develop

#581 Release/v0.1.2
  .env
  Dockerfile
  README.md
  docker-entrypoints/run-codeception.sh
  docker-tasks/bin/run-docker-compose-up.sh
  docker-tasks/common/env-files/env.sh
  docker-tasks/run-local-app/docker-compose.yml
  docker-tasks/run-local-app/uploads.txt
  docker-tasks/run-test-environment/docker-compose.yml
  docker-tasks/run-tests/docker-compose.yml
  run-docker-local-app.sh
  run-docker-shell.sh
  run-docker-test-environment.sh
  run-docker-tests.sh
  src/Connection/TermObjects.php
  wp-graphql.php
Labels: Release

#585 Feature/#493 user password reset mutation
  src/Mutation/ResetUserPassword.php
  src/TypeRegistry.php
  tests/wpunit/UserObjectMutationsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_framework_classmap.php
  vendor/composer/autoload_static.php
Labels: Enhancement, Review Ready, Tests

#586 #491 - Send Password Reset Mutation
  src/Mutation/SendPasswordResetEmail.php
  src/TypeRegistry.php
  tests/wpunit/UserObjectMutationsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_framework_classmap.php
  vendor/composer/autoload_static.php
Labels: Enhancement, Review Ready, Tests

#588 #326 - Add Revisions Support
  src/Connection/PostObjects.php
  src/Data/Config.php
  src/Data/PostObjectConnectionResolver.php
  src/Type/Object/PostObject.php
  src/TypeRegistry.php
  tests/wpunit/PostObjectConnectionQueriesTest.php
  wp-graphql.php
Labels: Architecture, Enhancement, Review Ready, Tests

#591 Restore graphql_input_fields filter
  src/Type/WPInputObjectType.php
  src/TypeRegistry.php
Labels: Bug
