Repository wp-graphql/wp-graphql, pull requests merged in 2022-05, with the labels that each got.

#2359 Release/v1.8.1
  CHANGELOG.md
  build/graphiqlAuthSwitch.asset.php
  build/graphiqlAuthSwitch.js
  build/graphiqlFullscreenToggle.asset.php
  build/graphiqlFullscreenToggle.js
  build/graphiqlQueryComposer.asset.php
  build/graphiqlQueryComposer.js
  package-lock.json
  package.json
  packages/graphiql-auth-switch/index.js
  packages/graphiql-fullscreen-toggle/index.js
  packages/graphiql-query-composer/components/AddOperations.js
  packages/graphiql-query-composer/index.js
  readme.txt
  src/Connection/Comments.php
  src/Connection/PostObjects.php
  src/Connection/Taxonomies.php
  src/Connection/TermObjects.php
  src/Data/Connection/ContentTypeConnectionResolver.php
  src/Data/Connection/PostObjectConnectionResolver.php
  src/Data/Connection/TermObjectConnectionResolver.php
  src/Data/DataSource.php
  src/Data/Loader/PostTypeLoader.php
  src/Data/Loader/TaxonomyLoader.php
  src/Data/Loader/UserLoader.php
  src/Data/NodeResolver.php
  src/Data/PostObjectMutation.php
  src/Model/PostType.php
  src/Mutation/PostObjectCreate.php
  src/Registry/TypeRegistry.php
  src/Type/Enum/ContentNodeIdTypeEnum.php
  src/Type/Enum/ContentTypeEnum.php
  src/Type/Enum/TaxonomyEnum.php
  src/Type/Enum/TermNodeIdTypeEnum.php
  src/Type/InterfaceType/MenuItemLinkable.php
  src/Type/InterfaceType/UniformResourceIdentifiable.php
  src/Type/ObjectType/Comment.php
  src/Type/ObjectType/RootQuery.php
  src/Type/ObjectType/Taxonomy.php
  src/Type/ObjectType/TermObject.php
  src/Type/Union/MenuItemObjectUnion.php
  src/Type/Union/PostObjectUnion.php
  src/Type/Union/TermObjectUnion.php
  src/Utils/Utils.php
  src/WPGraphQL.php
  tests/wpunit/CommentObjectQueriesTest.php
  tests/wpunit/WPGraphQLTest.php
  wp-graphql.php
  yarn.lock
Labels: Release

#2328 feat: allow global/db ids in comment mutation ID inputs
  src/Data/CommentMutation.php
  src/Mutation/CommentCreate.php
  src/Mutation/CommentDelete.php
  src/Mutation/CommentRestore.php
  src/Mutation/CommentUpdate.php
  tests/wpunit/CommentMutationsTest.php
Labels: Enhancement, Ready for Review, status: awaiting reviewer response, Component: Mutations, ObjectType: Comment, Component: API

#2331 feat: allow global/db ids in mediaItem mutation ID inputs
  src/Data/MediaItemMutation.php
  src/Mutation/MediaItemCreate.php
  src/Mutation/MediaItemDelete.php
  src/Mutation/MediaItemUpdate.php
  tests/wpunit/MediaItemMutationsTest.php
Labels: Enhancement, Ready for Review, status: awaiting reviewer response, Component: Mutations, Component: API, ObjectType: Media

#2336 Feat/term object mutation id inputs
  src/Data/TermObjectMutation.php
  src/Mutation/TermObjectCreate.php
  src/Mutation/TermObjectDelete.php
  src/Mutation/TermObjectUpdate.php
  tests/wpunit/TermObjectMutationsTest.php
Labels: Enhancement, Ready for Review, status: awaiting reviewer response, Component: Mutations, ObjectType: Term, Component: API

#2368 Bugfix/#2367 fix schema linter workflow
  .github/workflows/schema-linter.yml
  CHANGELOG.md
  package.json
  readme.txt
  src/WPGraphQL.php
  wp-graphql.php
Labels: Build Scripts

#2369 Chore: replace codecov badge with coveralls
  README.md
Labels: Documentation, Ready for Review

#2375 Feature/#2275 multisite tests
  .github/workflows/testing-integration.yml
  codeception.yml
  phpstan/constants.php
  src/Data/Connection/PluginConnectionResolver.php
  src/Data/Connection/ThemeConnectionResolver.php
  src/Data/DataSource.php
  src/Model/Plugin.php
  tests/wpunit.suite.dist.yml
  tests/wpunit/NodesTest.php
  tests/wpunit/PluginConnectionQueriesTest.php
  tests/wpunit/PluginObjectQueriesTest.php
  tests/wpunit/RootQueryConnectionsTest.php
  tests/wpunit/SettingsQueriesTest.php
  tests/wpunit/ThemeConnectionQueriesTest.php
  tests/wpunit/UserObjectMutationsTest.php
Labels: Tests, Build Scripts

#2374 chore: update PostObjectFieldFormatEnum value descriptions
  src/Type/Enum/PostObjectFieldFormatEnum.php
Labels: Enhancement, Ready for Review

#2382 (bugfix): #2381 register field to setting group not working
  src/Registry/TypeRegistry.php
  src/Type/ObjectType/SettingGroup.php
  tests/wpunit/SettingQueriesTest.php
Labels: ObjectType: Settings

#2338 Feat/post object mutation id inputs
  src/Data/PostObjectMutation.php
  src/Mutation/PostObjectCreate.php
  src/Mutation/PostObjectDelete.php
  src/Mutation/PostObjectUpdate.php
  tests/wpunit/PostObjectMutationsTest.php
Labels: Enhancement, Ready for Review, status: awaiting reviewer response, ObjectType: Post, Component: Mutations, Component: API

#2337 Feat/user object mutation id inputs
  src/Mutation/UserDelete.php
  src/Mutation/UserUpdate.php
  tests/wpunit/UserObjectMutationsTest.php
Labels: Enhancement, Ready for Review, status: awaiting reviewer response, Component: Mutations, Component: API

#2383 Release/v1.8.2
  .github/workflows/schema-linter.yml
  .github/workflows/testing-integration.yml
  CHANGELOG.md
  README.md
  codeception.yml
  package.json
  phpstan/constants.php
  readme.txt
  src/Data/CommentMutation.php
  src/Data/Connection/PluginConnectionResolver.php
  src/Data/Connection/ThemeConnectionResolver.php
  src/Data/DataSource.php
  src/Data/MediaItemMutation.php
  src/Data/NodeResolver.php
  src/Data/PostObjectMutation.php
  src/Data/TermObjectMutation.php
  src/Model/MenuItem.php
  src/Model/Plugin.php
  src/Mutation/CommentCreate.php
  src/Mutation/CommentDelete.php
  src/Mutation/CommentRestore.php
  src/Mutation/CommentUpdate.php
  src/Mutation/MediaItemCreate.php
  src/Mutation/MediaItemDelete.php
  src/Mutation/MediaItemUpdate.php
  src/Mutation/PostObjectCreate.php
  src/Mutation/PostObjectDelete.php
  src/Mutation/PostObjectUpdate.php
  src/Mutation/TermObjectCreate.php
  src/Mutation/TermObjectDelete.php
  src/Mutation/TermObjectUpdate.php
  src/Mutation/UserDelete.php
  src/Mutation/UserUpdate.php
  src/Registry/TypeRegistry.php
  src/Type/Enum/PostObjectFieldFormatEnum.php
  src/Type/ObjectType/MenuItem.php
  src/Type/ObjectType/SettingGroup.php
  src/Utils/InstrumentSchema.php
  src/WPGraphQL.php
  tests/wpunit.suite.dist.yml
  tests/wpunit/AccessFunctionsTest.php
  tests/wpunit/CommentMutationsTest.php
  tests/wpunit/MediaItemMutationsTest.php
  tests/wpunit/MenuItemQueriesTest.php
  tests/wpunit/NodeByUriTest.php
  tests/wpunit/NodesTest.php
  tests/wpunit/PluginConnectionQueriesTest.php
  tests/wpunit/PluginObjectQueriesTest.php
  tests/wpunit/PostObjectMutationsTest.php
  tests/wpunit/RootQueryConnectionsTest.php
  tests/wpunit/SettingQueriesTest.php
  tests/wpunit/SettingsQueriesTest.php
  tests/wpunit/TermObjectMutationsTest.php
  tests/wpunit/ThemeConnectionQueriesTest.php
  tests/wpunit/UserObjectMutationsTest.php
  wp-graphql.php
Labels: Release
