Repository wp-graphql/wp-graphql, pull requests merged in 2022-08, with the labels that each got.

#2463 chore: add issue templates to repo
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: Ready for Review, type: chore

#2457 fix: refactor resolvers to better follow Relay spec
  src/Data/Config.php
  src/Data/Connection/AbstractConnectionResolver.php
  src/Data/Connection/CommentConnectionResolver.php
  src/Data/Connection/ContentTypeConnectionResolver.php
  src/Data/Connection/EnqueuedScriptsConnectionResolver.php
  src/Data/Connection/EnqueuedStylesheetConnectionResolver.php
  src/Data/Connection/MenuItemConnectionResolver.php
  src/Data/Connection/PluginConnectionResolver.php
  src/Data/Connection/PostObjectConnectionResolver.php
  src/Data/Connection/TaxonomyConnectionResolver.php
  src/Data/Connection/TermObjectConnectionResolver.php
  src/Data/Connection/ThemeConnectionResolver.php
  src/Data/Connection/UserConnectionResolver.php
  src/Data/Connection/UserRoleConnectionResolver.php
  src/Data/Cursor/AbstractCursor.php
  src/Data/Cursor/CommentObjectCursor.php
  src/Data/Cursor/CursorBuilder.php
  src/Data/Cursor/PostObjectCursor.php
  src/Data/Cursor/TermObjectCursor.php
  src/Data/Cursor/UserCursor.php
  src/Type/ObjectType/MenuItem.php
  src/WPGraphQL.php
  tests/functional/CommentConnectionQueriesCept.php
  tests/wpunit/CommentConnectionQueriesTest.php
  tests/wpunit/ContentTypeConnectionQueriesTest.php
  tests/wpunit/CursorPaginationForCategoriesTest.php
  tests/wpunit/CursorPaginationForPostsTest.php
  tests/wpunit/CursorPaginationForUsersTest.php
  tests/wpunit/MenuConnectionQueriesTest.php
  tests/wpunit/MenuItemConnectionQueriesTest.php
  tests/wpunit/PluginConnectionQueriesTest.php
  tests/wpunit/PostConnectionPaginationTest.php
  tests/wpunit/PostObjectConnectionQueriesTest.php
  tests/wpunit/PostObjectSearchTest.php
  tests/wpunit/RegisteredScriptConnectionQueriesTest.php
  tests/wpunit/RegisteredStylesheetConnectionQueriesTest.php
  tests/wpunit/TaxonomyConnectionQueriesTest.php
  tests/wpunit/TermObjectConnectionQueriesTest.php
  tests/wpunit/ThemeConnectionQueriesTest.php
  tests/wpunit/UserConnectionPaginationTest.php
  tests/wpunit/UserConnectionQueriesTest.php
  tests/wpunit/UserRoleConnectionQueriesTest.php
Labels: Bug, impact: high, Component: Pagination, Regression

#2472 fix: return CommentAuthor avatar urls to unauthenticated users
  src/Type/ObjectType/CommentAuthor.php
  tests/wpunit/CommentObjectQueriesTest.php
Labels: Bug, Ready for Review, ObjectType: Comment

#2471 feat: PHPCS: enhancements to the Coding Standards Setup
  .github/workflows/code-quality.yml
  .github/workflows/testing-integration.yml
  .github/workflows/wordpress-coding-standards.yml
  .gitignore
  access-functions.php
  cli/wp-cli.php
  composer.json
  composer.lock
  phpcs.xml.dist
  src/Admin/GraphiQL/GraphiQL.php
  src/Admin/Settings/SettingsRegistry.php
  src/Data/Connection/AbstractConnectionResolver.php
  src/Data/Connection/ContentTypeConnectionResolver.php
  src/Data/Connection/EnqueuedScriptsConnectionResolver.php
  src/Data/Connection/EnqueuedStylesheetConnectionResolver.php
  src/Data/Connection/MenuItemConnectionResolver.php
  src/Data/Connection/PluginConnectionResolver.php
  src/Data/Connection/PostObjectConnectionResolver.php
  src/Data/Connection/TaxonomyConnectionResolver.php
  src/Data/Connection/UserConnectionResolver.php
  src/Data/Connection/UserRoleConnectionResolver.php
  src/Data/Cursor/AbstractCursor.php
  src/Data/Cursor/PostObjectCursor.php
  src/Data/Cursor/TermObjectCursor.php
  src/Data/Cursor/UserCursor.php
  src/Data/Loader/CommentAuthorLoader.php
  src/Data/Loader/PluginLoader.php
  src/Data/Loader/PostObjectLoader.php
  src/Data/Loader/TermObjectLoader.php
  src/Data/Loader/UserLoader.php
  src/Data/NodeResolver.php
  src/Data/UserMutation.php
  src/Model/Post.php
  src/Model/Term.php
  src/Model/User.php
  src/Mutation/MediaItemCreate.php
  src/Mutation/SendPasswordResetEmail.php
  src/Mutation/TermObjectCreate.php
  src/Mutation/UserCreate.php
  src/Registry/TypeRegistry.php
  src/Request.php
  src/Router.php
  src/Type/Enum/PluginStatusEnum.php
  src/Type/Enum/TimezoneEnum.php
  src/Type/InterfaceType/EnqueuedAsset.php
  src/Type/ObjectType/CommentAuthor.php
  src/Type/ObjectType/Menu.php
  src/Type/ObjectType/User.php
  src/WPGraphQL.php
Labels: Bug, Ready for Review, code quality

#2482 feat: PHPCS: adding support for the WordPress VIP Go standard
  composer.json
  composer.lock
  phpcs.xml.dist
  src/Connection/TermObjects.php
  src/Connection/Users.php
  src/Data/Connection/CommentConnectionResolver.php
  src/Data/Connection/PostObjectConnectionResolver.php
  src/Data/DataSource.php
  src/Data/MediaItemMutation.php
  src/Data/NodeResolver.php
  src/Data/PostObjectMutation.php
  src/Data/TermObjectMutation.php
  src/Model/Post.php
  src/Mutation/SendPasswordResetEmail.php
  src/Mutation/UpdateSettings.php
  src/Router.php
  src/Type/Enum/MediaItemSizeEnum.php
  src/Type/InterfaceType/ContentTemplate.php
  src/Type/ObjectType/MediaDetails.php
  src/Type/ObjectType/RootQuery.php
  src/WPGraphQL.php
  wp-graphql.php
Labels: Ready for Review
