Repository wp-graphql/wp-graphql, pull requests merged in 2022-04, with the labels that each got.

#2299 fix: MediaItemUpdate mutation comparing string author ID with number returned from get_current_user_id
  src/Mutation/MediaItemUpdate.php
  tests/wpunit/MediaItemMutationsTest.php
Labels: Bug

#2291 chore: add `allow-plugins` to composer.json config
  composer.json
Labels: status: awaiting reviewer response, dependencies

#2294 fix: refactor AbstractConnectionResolver::get_nodes() to prevent children double slicing
  src/Data/Connection/AbstractConnectionResolver.php
  src/Data/Connection/ContentTypeConnectionResolver.php
  src/Data/Connection/EnqueuedScriptsConnectionResolver.php
  src/Data/Connection/EnqueuedStylesheetConnectionResolver.php
  src/Data/Connection/PluginConnectionResolver.php
  src/Data/Connection/TaxonomyConnectionResolver.php
  src/Data/Connection/ThemeConnectionResolver.php
  src/Data/Connection/UserRoleConnectionResolver.php
Labels: Bug, status: awaiting reviewer response, status: blocked, Component: Connections, php, performance

#2322 feat: add `Utils::get_database_id_from_id()` for DRY handling of `ID` types.
  src/Utils/Utils.php
  tests/wpunit/TypesTest.php
Labels: Enhancement, Architecture, impact: high, status: awaiting reviewer response, php

#2323 Fix: Use comment author when admin are creating/updating a different users comment.
  src/Data/CommentMutation.php
  src/Model/Comment.php
  src/Mutation/CommentCreate.php
  tests/wpunit/CommentMutationsTest.php
Labels: Bug, status: awaiting reviewer response, Component: Mutations, ObjectType: Comment, php

#2320 Fix: comment connection filtering by `commentType`
  src/Connection/Comments.php
  src/Data/Connection/CommentConnectionResolver.php
  tests/wpunit/CommentConnectionQueriesTest.php
Labels: Bug, status: awaiting reviewer response, ObjectType: Comment, Component: Query

#2327 feat: change min permissions for Plugins from `update` to `activate`
  src/Data/Connection/PluginConnectionResolver.php
  src/Model/Plugin.php
Labels: Security, impact: low, ObjectType: Plugin

#2319 fix: pass `WP_Comment` object to `comment_text` filter
  src/Model/Comment.php
  tests/wpunit/CommentObjectQueriesTest.php
Labels: Bug, status: awaiting reviewer response, ObjectType: Comment

#2298 feat: add where args to plugin connections
  src/Data/Connection/PluginConnectionResolver.php
  src/Data/Loader/PluginLoader.php
  src/Registry/TypeRegistry.php
  src/Type/Enum/PluginStatusEnum.php
  src/Type/ObjectType/RootQuery.php
  tests/wpunit/PluginConnectionQueriesTest.php
Labels: Enhancement, status: awaiting reviewer response, Component: Connections, ObjectType: Plugin, Needs Tests

#2332 Bug/#2282 version graphiql with releases
  .github/workflows/build-graphiql.yml
  .github/workflows/graphiql-e2e-tests.yml
  .github/workflows/graphiql-unit-tests.yml
  .gitignore
  build/app.asset.php
  build/app.css
  build/app.js
  build/graphiqlAuthSwitch.asset.php
  build/graphiqlAuthSwitch.js
  build/graphiqlFullscreenToggle.asset.php
  build/graphiqlFullscreenToggle.css
  build/graphiqlFullscreenToggle.js
  build/graphiqlQueryComposer.asset.php
  build/graphiqlQueryComposer.css
  build/graphiqlQueryComposer.js
  build/index.asset.php
  build/index.js
  build/style-app.css
  composer.json
  packages/graphiql-query-composer/utils/utils.js
  packages/wpgraphiql/screens/GraphiQL/GraphiQL.js
Labels: Build Scripts

#2349 "select" and "option" added to allowed HTML for settings.
  src/Utils/Utils.php
Labels: Enhancement, ObjectType: Settings

#2350 Fixes bug with Comment Authors not always returning
  src/Type/ObjectType/Comment.php
  tests/wpunit/CommentObjectQueriesTest.php
Labels: ObjectType: Comment, ObjectType: User, Component: Query

#2353 Feat: Refactor get_allowed_post_types() and get_allowed_taxonomies()
  src/Connection/Taxonomies.php
  src/Connection/TermObjects.php
  src/Data/Connection/ContentTypeConnectionResolver.php
  src/Data/Connection/PostObjectConnectionResolver.php
  src/Data/Connection/TermObjectConnectionResolver.php
  src/Data/Loader/PostTypeLoader.php
  src/Data/Loader/TaxonomyLoader.php
  src/Data/NodeResolver.php
  src/Type/Enum/ContentTypeEnum.php
  src/Type/ObjectType/RootQuery.php
  src/Type/Union/MenuItemObjectUnion.php
  src/WPGraphQL.php
  tests/wpunit/WPGraphQLTest.php
Labels: Enhancement, Architecture, Ready for Review, impact: med, Component: API, php

#2354 (bugfix): Fix console warnings in WPGraphiQL related to missing keys
  build/graphiqlAuthSwitch.asset.php
  build/graphiqlAuthSwitch.js
  build/graphiqlFullscreenToggle.asset.php
  build/graphiqlFullscreenToggle.js
  build/graphiqlQueryComposer.asset.php
  build/graphiqlQueryComposer.js
  package-lock.json
  packages/graphiql-auth-switch/index.js
  packages/graphiql-fullscreen-toggle/index.js
  packages/graphiql-query-composer/components/AddOperations.js
  packages/graphiql-query-composer/index.js
  yarn.lock
Labels: Ready for Review

#2356 chore: refactor codebase using `WPGraphQL::get_allowed_{type}( 'objects ')`
  src/Connection/Comments.php
  src/Connection/PostObjects.php
  src/Connection/Taxonomies.php
  src/Connection/TermObjects.php
  src/Data/DataSource.php
  src/Data/Loader/UserLoader.php
  src/Data/NodeResolver.php
  src/Data/PostObjectMutation.php
  src/Mutation/PostObjectCreate.php
  src/Registry/TypeRegistry.php
  src/Type/Enum/ContentNodeIdTypeEnum.php
  src/Type/Enum/ContentTypeEnum.php
  src/Type/Enum/TaxonomyEnum.php
  src/Type/Enum/TermNodeIdTypeEnum.php
  src/Type/InterfaceType/MenuItemLinkable.php
  src/Type/InterfaceType/UniformResourceIdentifiable.php
  src/Type/ObjectType/RootQuery.php
  src/Type/ObjectType/Taxonomy.php
  src/Type/ObjectType/TermObject.php
  src/Type/Union/MenuItemObjectUnion.php
  src/Type/Union/PostObjectUnion.php
  src/Type/Union/TermObjectUnion.php
Labels: Ready for Review, code quality
