Repository wp-graphql/wp-graphql, pull requests merged in 2023-04, with the labels that each got.

#2782 ci: fix deprecation warnings in GitHub workflows
  .github/workflows/build-graphiql.yml
  .github/workflows/code-quality.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-docker-image.yml
  .github/workflows/deploy-to-wordpress.yml
  .github/workflows/graphiql-e2e-tests.yml
  .github/workflows/graphiql-unit-tests.yml
  .github/workflows/schema-linter.yml
  .github/workflows/testing-integration.yml
  .github/workflows/upload-schema-artifact.yml
  .github/workflows/wordpress-coding-standards.yml
Labels: status: in review, scope: build scripts, type: chore

#2779 ci: test against WordPress v6.2
  .github/workflows/deploy-docker-image.yml
  .github/workflows/testing-integration.yml
  bin/run-docker.sh
  docker-compose.yml
  docs/testing.md
  tests/wpunit/CustomPostTypeTest.php
  tests/wpunit/EnqueuedScriptsTest.php
  tests/wpunit/EnqueuedStylesheetsTest.php
  tests/wpunit/MediaItemQueriesTest.php
  tests/wpunit/PostObjectQueriesTest.php
  tests/wpunit/PreviewTest.php
  wp-graphql.php
Labels: status: in review, scope: build scripts, type: chore

#2781 chore: call `_doing_it_wrong()` when using deprecated `{PostObject|TermObject}Union`
  src/Type/Union/PostObjectUnion.php
  src/Type/Union/TermObjectUnion.php
Labels: type: enhancement, status: in review, needs: reviewer response, scope: code quality

#2776 chore: remove internal usage of deprecated functions
  src/Mutation/CommentCreate.php
  src/Mutation/CommentRestore.php
  src/Mutation/MediaItemCreate.php
  src/Registry/TypeRegistry.php
  src/Type/ObjectType/RootQuery.php
  tests/wpunit/NodeByUriTest.php
  tests/wpunit/PostObjectQueriesTest.php
Labels: status: in review, type: chore, php, scope: code quality

#2763 feat: support "Show Toolbar when viewing site" user setting
  src/Model/User.php
  src/Type/ObjectType/User.php
  tests/wpunit/ShouldShowAdminToolbarQueryTest.php
Labels: type: enhancement, status: in review, ObjectType: User, Component: Query

#2793 release: v1.14.2
  CHANGELOG.md
  readme.txt
  src/Data/NodeResolver.php
  src/WPGraphQL.php
  tests/wpunit/NodeByUriTest.php
  wp-graphql.php
Labels: Release

#2802 release: v1.14.3
  CHANGELOG.md
  composer.lock
  readme.txt
  src/Data/NodeResolver.php
  src/WPGraphQL.php
  tests/wpunit/NodeByUriTest.php
  tests/wpunit/PageByUriTest.php
  wp-graphql.php
Labels: Release
