Repository wp-graphql/wp-graphql, pull requests merged in 2024-11, with the labels that each got.

#3219 test: add tests for querying different sizes of media items
  tests/_data/images/2000x1000.png
  tests/wpunit/MediaItemQueriesTest.php
Labels: scope: tests

#3229 fix: Deprecated null value warning in `titleRendered` callback
  src/Model/Post.php
Labels: type: bug, status: in review, needs: reviewer response, component: model layer, scope: code quality

#3227 release: v1.29.1
  CHANGELOG.md
  assets/blueprints/blueprint.json
  composer.lock
  constants.php
  docs/upgrading.md
  readme.txt
  src/Model/Post.php
  src/Registry/Utils/PostObject.php
  tests/_data/images/2000x1000.png
  tests/_data/images/mgc.gif
  tests/wpunit/MediaItemMutationsTest.php
  tests/wpunit/MediaItemQueriesTest.php
  wp-graphql.php
Labels: type: release

#3231 release: v1.29.2
  .wordpress-org/blueprints/blueprint.json
  CHANGELOG.md
  constants.php
  readme.txt
  wp-graphql.php
Labels: type: release
