Repository wp-graphql/wp-graphql, pull requests merged in 2024-02, with the labels that each got.

#3031 fix(graphiql): Allow GraphiQL to run even if a valid schema cannot be returned.
  build/app.asset.php
  build/app.js
  build/graphiqlQueryComposer.asset.php
  build/graphiqlQueryComposer.js
  build/index.asset.php
  build/index.js
  package-lock.json
  packages/graphiql-query-composer/components/Explorer.js
  packages/wpgraphiql/components/Router/Router.js
  packages/wpgraphiql/context/AppContext.js
  packages/wpgraphiql/screens/GraphiQL/GraphiQL.js
Labels: Type: Enhancement, Status: In Review, Needs: Reviewer Response, GraphiQL

#3041 release: v1.21.0
  .github/workflows/graphiql-e2e-tests.yml
  .github/workflows/graphiql-unit-tests.yml
  .github/workflows/testing-integration.yml
  CHANGELOG.md
  access-functions.php
  build/app.asset.php
  build/app.js
  build/graphiqlQueryComposer.asset.php
  build/graphiqlQueryComposer.js
  build/index.asset.php
  build/index.js
  composer.lock
  constants.php
  package-lock.json
  packages/graphiql-query-composer/components/Explorer.js
  packages/wpgraphiql/components/Router/Router.js
  packages/wpgraphiql/context/AppContext.js
  packages/wpgraphiql/screens/GraphiQL/GraphiQL.js
  readme.txt
  src/Admin/Admin.php
  src/Admin/AdminNotices.php
  src/AppContext.php
  src/Data/DataSource.php
  src/Registry/TypeRegistry.php
  tests/wpunit/AccessFunctionsTest.php
  tests/wpunit/AdminNoticesTest.php
  tests/wpunit/AssertValidSchemaTest.php
  tests/wpunit/ConnectionInterfaceTest.php
  tests/wpunit/ContentNodeInterfaceTest.php
  tests/wpunit/ContentTemplateTest.php
  tests/wpunit/FiltersTest.php
  tests/wpunit/ModelUserTest.php
  tests/wpunit/PageByUriTest.php
  tests/wpunit/PostConnectionPaginationTest.php
  tests/wpunit/PreviewContentNodesTest.php
  tests/wpunit/UserConnectionPaginationTest.php
  wp-graphql.php
Labels: Release

#3045 fix: `UsersConnectionSearchColumnEnum` values should be prefixed with `user_`
  src/Type/Enum/UsersConnectionSearchColumnEnum.php
  tests/wpunit/UserConnectionQueriesTest.php
Labels: Type: Bug, Status: In Review, Component: Connections, ObjectType: User

#3043 fix: return empty when filtering `menuItems` by a `location` with no assigned items
  src/Data/Connection/MenuItemConnectionResolver.php
  tests/wpunit/MenuItemConnectionQueriesTest.php
Labels: Type: Bug, Status: In Review, Component: Connections, ObjectType: Menu

#3039 feat: add `UniformResourceIdentifiable` interface to `Comment` type
  src/Data/NodeResolver.php
  src/Model/Comment.php
  src/Type/InterfaceType/UniformResourceIdentifiable.php
  src/Type/ObjectType/Comment.php
  tests/wpunit/CommentObjectQueriesTest.php
  tests/wpunit/NodeByUriTest.php
Labels: Type: Enhancement, Status: In Progress, ObjectType: Comment, Component: Query

#3062 ci: pin wp-browser to "<3.5" to allow automated tests to run properly
  composer.json
  composer.lock
Labels: scope: tests, scope: build scripts
