Repository wp-graphql/wp-graphql, pull requests merged in 2025-03, with the labels that each got.

#3332 chore: add WPGraphQL IDE to the extensions page
  src/Admin/Extensions/Registry.php
Labels: scope: extensions

#3333 chore: update cursor rules to use .cursor/rules instead of .cursorrules
  .cursor/rules/README.md
  .cursor/rules/php_files.json
  .cursor/rules/wpgraphql.json
  .cursor/rules/wpgraphql.mdc
  .cursorrules
  .gitignore
Labels: type: chore

#3334 Changeset for PR #3333
  .changeset/pr-3333-1741323496547.md
Labels: changeset

#3335 ci: Consolidate, Rename, and Clean Up Release Workflows
  .changeset/README.md
  .changeset/pr-3332-1741292197718.md
  .changeset/pr-3333-1741323496547.md
  .github/workflows/README.md
  .github/workflows/beta-release.yml
  .github/workflows/deploy-to-wordpress.yml
  .github/workflows/generate-changeset.yml
  .github/workflows/process-release.yml
  .github/workflows/release-and-deploy.yml
  docs/beta-releases.md
  docs/contributing.md
  scripts/__tests__/changelog-formatters.test.js
  scripts/__tests__/changelog-formatters/readme-txt.test.js
  scripts/__tests__/changelog-integration.test.js
  scripts/__tests__/generate-changeset.test.js
  scripts/changelog-formatters/changelog-md.js
  scripts/changelog-formatters/readme-txt.js
  scripts/generate-changeset.js
  scripts/simulate-release.js
  scripts/simulate-workflow.js
Labels: ready-for-changeset

#3338 fix: Avoid the deprecation warning when sending null header values
  src/Router.php
Labels: status: in review, needs: author response
